 <!-- About Section -->
 <section class="success" id="about">
    <div class="container">
<!--         <div class="row">
            <div class="col-lg-12 text-center">
            <h2 class="section-heading">BIO</h2>
                <hr>
            </div>
        </div>             -->
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <p style="font-size:1.3em;" >
                Hello, I'm Barzin.
                </br>
                I program robots to help them better understand the world and make decisions. I also enjoy dispersed camping, playing guitar, and making videos.
                </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a a href="{{site.baseurl}}/cv.pdf" target="_blank" class="btn btn-lg btn-outline" style="text-decoration:underline;color:#FFF">
                    <i class="fa fa-file-pdf-o"style="padding-right:5px"></i>View Resume
                </a>
            </div>
        </div>
    </div>
</section>