<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Get Connected</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <p class="text-center" style="color:#{{site.color.secondary}}">Email: <a href="mailto:barzin.m [at] gmail [dot] com" style="color:white">barzin.m [at] gmail [dot] com</a></p>
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                    <li><a rel="me" href="{{ network.url }}" title="{{network.title}}"><i class="fa my-fa-{{ network.fa-title }}"></i></a>
                    </li>
                    {% endfor %}
                    <li><a rel="me" href="https://scholar.google.com/citations?user=Yutc0tkAAAAJ&hl=en" title="Google Scholar"><i class="ai ai-google-scholar"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
