<!-- Experience Section -->
<section id="experience">
  <div class="container">
    <div class="row">
      <div class="section-heading col-sm-12">
        <h2>PROJECTS
        <a rel="me" href="{{ site.url }}/Barzin_Moridian_Curriculum_Vitae.pdf" title="PDF Curriculum Vitae"><i class="fa fa-file-pdf-o"></i></a></h2>
        <p class="text-muted">You can find some of my projects below.</p>
      </div>
    </div>
    
    <hr>
      <!-- ////////////Start of experience///////////// -->

<!-- TODO: state estimation, IMU -->

      
    <h3>Agile Path Planning</h3>
    <p>Developed a simulation environment first to be able to develop the path planning algorithm. Then coded the path planning algorithm in Python to use on ROS. Validated on ground robots.</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/b8EiXVZtlZA" frameborder="0" allowfullscreen></iframe>
    <p class="text-muted">Path planning simulation 1</p><br/>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bfY62sTenhw" frameborder="0" allowfullscreen></iframe>
    <p class="text-muted">Path planning simulation 2</p><br/>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nGpb8FjvCTw" frameborder="0" allowfullscreen></iframe>
    <p class="text-muted">Ground robot obstacle avoidance</p><br/>


    <h3>Autonomous Mobile Microgrid</h3>
    <p>Engineered multi-robot system capable of establishing small electrical power grids collaboratively in unknown environments</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EMrTS7vy_Dg" frameborder="0" allowfullscreen></iframe>
    <p class="text-muted">Single robot with obstacles</p><br/>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-FG4XPQIedE" frameborder="0" allowfullscreen></iframe>
    <p class="text-muted">Two robots</p><br/>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/46rIWmHRX20" frameborder="0" allowfullscreen></iframe>
    <p class="text-muted">Two robots (top view)</p><br/>

    <h3>Motion Capture Camera System API</h3>
    <p>Developed an API for Qualisys motion capture system used for indoor localization which communicates states over TCP/IP.</p>
    <a href="https://github.com/BarzinM/qualisys-rt">https://github.com/BarzinM/qualisys-rt</a><br/><br/>

    <h3>Bounded Path Tracking</h3>
    <p>Achieved %25 improvement on lateral error and %30 on trajectory traversing time in ground robot navigation by adding fuzzy logic and velocity control to the control architecture.</p>
    <a href="https://drive.google.com/uc?export=view&id=0B_Me-4UEvsYqZWZyT0lwbWVXTms"><img width="560" src="https://drive.google.com/uc?export=view&id=0B_Me-4UEvsYqZWZyT0lwbWVXTms"></a>
    <p class="text-muted">After</p><br/>
    <a href="https://drive.google.com/uc?export=view&id=0B_Me-4UEvsYqZ1hEM3AtUGpBdDQ"><img width="560" src="https://drive.google.com/uc?export=view&id=0B_Me-4UEvsYqZ1hEM3AtUGpBdDQ"></a>
    <p class="text-muted">Before</p><br/>
    <a href="https://drive.google.com/uc?export=view&id=0B_Me-4UEvsYqZ2FNcHZVVm1zQ1k"><img width="560" src="https://drive.google.com/uc?export=view&id=0B_Me-4UEvsYqZ2FNcHZVVm1zQ1k"></a>
    <p class="text-muted">Left: After, Right: Before</p><br/>

    <h3>Autonomous Aerial Robot Navigation</h3>
    <p>Developed flight management system in ROS using Python for aerial robots that automatically controls the take-off, trajectory following, target following, and landing.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/e9x_qUOLGjg" frameborder="0" allowfullscreen></iframe>
    <p class="text-muted">Target landing</p><br/>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/so8KNrETquw" frameborder="0" allowfullscreen></iframe>
    <p class="text-muted">Target following (target is remotely controlled)</p><br/>
      
    <h3>Multi-Robot Mission Optimization with Respect to Overall Energy</h3>
    <p>Developed automatic mission designer software to generate persistent missions.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/yU9ecnXXE7o" frameborder="0" allowfullscreen></iframe>
    <p class="text-muted">Illustration of the idea</p><br/>
    <a href="https://drive.google.com/uc?export=view&id=0B_Me-4UEvsYqV1dyWmp1ajc0ZTg"><img width="560" src="https://drive.google.com/uc?export=view&id=0B_Me-4UEvsYqV1dyWmp1ajc0ZTg"></a>
    <p class="text-muted">One robot and one mobile charger</p>
    <a href="https://drive.google.com/uc?export=view&id=0B_Me-4UEvsYqNkdrQWZZelBSRlU"><img width="560" src="https://drive.google.com/uc?export=view&id=0B_Me-4UEvsYqNkdrQWZZelBSRlU"></a>
    <p class="text-muted">Two robots and one mobile charger</p>
    <a href="https://drive.google.com/uc?export=view&id=0B_Me-4UEvsYqT0Y0RWVKd3BGZEk"><img width="560" src="https://drive.google.com/uc?export=view&id=0B_Me-4UEvsYqT0Y0RWVKd3BGZEk"></a>
    <p class="text-muted">Three robots and four static chargers</p><br/> 

    <h3>Making a New Robot</h3>
    <p>Performed system engineering for repurposing a tracked vehicle into a robot using off-the-shelf components. Established communication between sensors, actuators, and embedded systems.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/3VDCosmrTKU" frameborder="0" allowfullscreen></iframe>
    <p class="text-muted">Testing a simple obstacle avoidance</p><br/>


    <h3>CAD</h3>
    <p>Designed and prototyped mechanical and electrical components for supporting mechanisms, sensors, electronics, and electrical power transfer on robots. An example that I'm proud of is the blind mating 5-conductor electrical connectors with locking mechanism.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0t_wp-hcM_M" frameborder="0" allowfullscreen></iframe><br/><br/>
    

    <h3>Dynamip</h3>
    <p>Developed open-source tool that keeps track of dynamic IP of any number of remote Linux systems to enable remote login over the Internet without need for static IP.</p>
    <a href="https://github.com/BarzinM/dynamip">https://github.com/BarzinM/dynamip</a><br/><br/>

    <h3>Gasoline Powered VTOL Drone</h3>
    <p>Prototyped gasoline powered flying vehicle with a heavy aluminum frame that is estimated to be able to lift an extra 70~100 lbs load.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xoiPacHJ7r8" frameborder="0" allowfullscreen></iframe>
    <p class="text-muted">Restrained system test</p><br/>


    <h3>Random Experiments with Image Processing</h3>
    <p>Developed flight management system in ROS using Python for aerial robots that automatically controls the take-off, trajectory following, target following, and landing.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/2XXtT_zAwis" frameborder="0" allowfullscreen></iframe>
    <p class="text-muted">Object tracking</p><br/>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WJ9G7oSeyv8" frameborder="0" allowfullscreen></iframe>
    <p class="text-muted">Marker localization</p>


  </div>
</section>



