<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">&copy; Barzin Moridian, All Rights Reserved.</span>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="{{ site.url }}privacy_policy.txt">Privacy Policy</a>
                    </li>
                    <li><a href="{{ site.url }}terms_of_use.txt">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>