<section class="minimal">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<header>
					<h1>Barzin Moridian</h1>
					<h2 class="mute">Robotic Researcher</h2>
				</header>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<p>Hello, I'm Barzin. I program robots to help them better understand the world and make decisions. I also enjoy dispersed camping, playing the guitar, and making videos.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<br>
				<details>
				  <summary> Experiences</summary>
				  <p class="mute" style="padding-bottom: .5rem;">A list of places I've been affiliated with.</p>
				  <div class="details">

				  <p> - [2019, Present]<br>
				  Head of Robotics, Arcbyt Inc</p>

				  <p> - [2012, 2018]<br>
				  Robotic Researcher and Lab Manager, NASLab, Michigan Tech and Purdue</p>

				  <p> - [2012, 2013]<br>
				  Controls Researcher, EML, Michigan Tech</p>

				  <p> - 2009<br>
				  Systems and Controls Engineering intern, Zav Co.</p>

					</div>
				</details>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				</br>
				<details>
				  <summary> Projects</summary>
				  <p class="mute" style="padding-bottom: .5rem;">Take a look at some of my projects. I would be happy to give more details if you find them interesting.</p>
				  <div class="details">

				  <div class="row">
						<div class="col-sm-11">Made a robot that learns motion control from its own experiences.</div>
						<div class="col-sm-1"><a href="#" class="project_link">show</a></div>
				  </div>
				  <div class="row hide">
				  	<div class="col-sm-12">
				  		<video controls="controls" style="max-width:100%">
					        <source src="https://drive.google.com/uc?id=1FDE2TkJonYO4j_nYEwSUMoLUAwxantwT" type='video/webm'/>
					    </video>
				  	</div>
				  </div>

				  <div class="row">
						<div class="col-sm-11">Built an autonomous boat that can navigate to a set of waypoints.</div>
						<div class="col-sm-1"><a href="#" class="project_link">show</a></div>
				  </div>
				  <div class="row hide">
				  	<div class="col-sm-12">
				  		<video controls="controls" style="max-width:100%">
					        <source src="https://drive.google.com/uc?id=1MHAXVu2i42tF1zHx-lzzOBtidww-UOOu" type='video/webm'/>
					    </video>
				  	</div>
				  </div>

					<div class="row">
						<div class="col-sm-11">Trained a robot from demonstration to navigate in hallways using camera and lidar observations.</div>
						<div class="col-sm-1"><a href="#" class="project_link">show</a></div>
				  </div>
					<div class="row hide">
				  	<div class="col-sm-12">
				  		<video controls="controls" style="max-width:100%">
					        <source src="https://drive.google.com/uc?export=download&id=1tIWlD-vnHjo64cpxpC7GgclvApfEAFBq" type='video/webm'/>
					    </video>
				  	</div>
					</div>
					
					<div class="row">
						<div class="col-sm-11">Trained simulated robots to avoid collision with multiple moving obstacles.</div>
						<div class="col-sm-1"><a href="#" class="project_link">show</a></div>
					</div>
					<div class="row hide">
				  	<div class="col-sm-12">
				  		<video controls="controls" style="max-width:100%">
					        <source src="https://drive.google.com/uc?export=download&id=16oNDb5jaae3wY1xfcxa02oM0TVgv_PQ0" type='video/webm'/>
					    </video>
				  	</div>
					</div>
					
					<div class="row">
						<div class="col-sm-11">Developed algorithm for control of a team of multi-copters.</div>
						<!-- <div class="col-sm-1"><a href="#" class="project_link">show</a></div> -->
					</div>
					<!-- <div class="row hide"> -->
				  	<!-- <div class="col-sm-12">Open Block 1</div> -->
				  <!-- </div> -->

					<div class="row">
						<div class="col-sm-11">Developed a team of ground robots for establishing a mobile microgrid.</div>
						<div class="col-sm-1"><a href="#" class="project_link">show</a></div>
					</div>
					<div class="row hide">
				  	<div class="col-sm-12">
				  		<img src="" data-src="https://drive.google.com/uc?id=1Uwszuqp0QoQTztuobFu-VvXw-LZKDXiA" alt="project image">
				  		<img src="" data-src="https://drive.google.com/uc?id=1R6wkqMkED2s4wc_U-IjqRRLTMssm-mtL" alt="project image">
				  		<img src="" data-src="https://drive.google.com/uc?id=12xpcyCwJ-2jhPxh475cCecekxZaCejxp" alt="project image">
				  		<img src="" data-src="https://drive.google.com/uc?id=1ATrQo3TIsuTGwfRkJNg-61yHsppvyUBw" alt="project image">
				  		<img src="" data-src="https://drive.google.com/uc?id=1KMZmnFYE8-UBStgbPiKvrNzdHcUC2Zr8" alt="project image">
				  		<img src="" data-src="https://drive.google.com/uc?id=1ZaZJ7umLHEzUo9Rq26FSDAU3-c0opFh-" alt="project image">
				  	</div>
				  </div>

					<div class="row">
						<div class="col-sm-11">Developed software algorithm for optimization and planning of multi-agent coverage or surveillance missions.</div>
						<!-- <div class="col-sm-1"><a href="#" class="project_link">show</a></div> -->
					</div>
					<!-- <div class="row hide"> -->
				  	<!-- <div class="col-sm-12">Open Block 1</div> -->
				  <!-- </div> -->

					<div class="row">
						<div class="col-sm-11">Developed an agile path planning algorithm for mobile robots in highly dynamic environments.</div>
						<div class="col-sm-1"><a href="#" class="project_link">show</a></div>
					</div>
					<div class="row hide">
				  	<div class="col-sm-12">
				  		<img src="" data-src="https://drive.google.com/uc?id=1u8V6ruDgbf24OuVcPt9hnaKUdeGspdfa" alt="project image">
				  		<img src="" data-src="https://drive.google.com/uc?id=1wPaSQLwSADs0o1pZML3opUyQNg09BgMZ" alt="project image">
				  		<img src="" data-src="https://drive.google.com/uc?id=1_Tqg1yPcndt0jSE_J225S-oyUwewd7HQ" alt="project image">
				  		<img src="" data-src="https://drive.google.com/uc?id=1DK5z8f_K3LQzhiEPnmA90sABA8Bb25_9" alt="project image">
				  	</div>
				  </div>

					<div class="row">
						<div class="col-sm-11">Developed unscented and extended Kalman filter algorithms for simultaneous parameter and state estimation of buildings' HVAC system.</div>
						<!-- <div class="col-sm-1"><a href="#" class="project_link">show</a></div> -->
					</div>
					<!-- <div class="row hide"> -->
				  	<!-- <div class="col-sm-12">Open Block 1</div> -->
				  <!-- </div> -->

				  </div>
  				  <p class="mute">Also, here are a few <a href="{{ site.url }}/notes">scripts</a> that I have been putting together, which might be useful for others.</p>
				</details>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				</br>
				<details>
				  <summary> Updates</summary>
					<p class="mute" style="padding-bottom: .5rem;">A history of what I've been up to.</p>
				  
				  <div class="details">

					<div class="row">
					<div class="col-sm-3 mute">August 2018</div>
					<div class="col-sm-9">Advising a senior design team to develop a cancer detection software using deep networks on CT Scan images.</div>
					</div>
				
					<div class="row">
					<div class="col-sm-3 mute">May 2018</div>
					<div class="col-sm-9">Joined SSRR 2018 committee as publication chair.</div>
					</div>

					<div class="row">
					<div class="col-sm-3 mute">August 2017</div>
					<div class="col-sm-9">Served as team mentor in NSF I-Corps site program.</div>
					</div>

					<div class="row">
					<div class="col-sm-3 mute">August 2016</div>
					<div class="col-sm-9">Received Innovation Corps (I-Corps) site program certificate from NSF.</div>
					</div>

					<div class="row">
					<div class="col-sm-3 mute">January 2016</div>
					<div class="col-sm-9">Newsletter editor of IEEE Cloud Computing.</div>
					</div>

					<div class="row">
					<div class="col-sm-3 mute">October 2015</div>
					<div class="col-sm-9">Session chair of Multiagent Network Systems session at DSCC.</div>
					</div>
					
					<div class="row">
					<div class="col-sm-3 mute">August 2015</div>
					<div class="col-sm-9">Received entrepreneurship certificate from SmartZone.</div>
					</div>

					<div class="row">
					<div class="col-sm-3 mute">December 2014</div>
					<div class="col-sm-9">Received MSc in Mechanical Engineering.</div>
					</div>

					<div class="row">
					<div class="col-sm-3 mute">October 2013</div>
					<div class="col-sm-9">Best student paper award finalist.</div>
					</div>

					<div class="row">
					<div class="col-sm-3 mute">July 2012</div>
					<div class="col-sm-9">Received BSc in Aerospace Engineering.</div>
					</div>

				  </div>
				</details>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				</br>
				<details>
				  <summary> Contact</summary>
				  <span class="mute">My preferred form of contact is email.</span>
				  <div class="details">
				  <a href="mailto:barzin.m[at]gmail[dot]com">email</a>
				  |
				  <a href="https://scholar.google.com/citations?user=Yutc0tkAAAAJ&hl=en">google scholar</a>
				  |
				  <a href="http://www.github.com/barzinm">github</a>
				  |
				  <a href="http://www.linkedin.com/in/barzinmoridian/">linkedin</a>
				  </div>
				  <form id="form">
				  <span class="mute">Or, just send me a message from here:</span>
				      <textarea class="form-control my-1" id="contact_message" rows="3" placeholder="Consider mentioning your name and email address ..."></textarea>
				    <button id="submit" type="submit" class="btn btn-primary mb-2">Send</button>
				  </form>
				</details>
			</div>
		</div>

		<div style="padding:2rem"></div>
	
	</div>
</section>