<div class="topbar">
    <ul>
        <div class="float-left">
            <li>
                <a href="{{site.url}}" class="title">Barzin's Projects and Posts</a>
            </li>
        </div>
        <div class="float-right">
            <li>
                <a href="{{site.url}}">Home</a>
            </li>
            <li>
                <a href="{{site.url}}#experience">Experience</a>
            </li>
            {% comment %}
            <li>
                <a href="#posts">Posts</a>
            </li>
            <li>
                <a href="#portfolio">Portfolio</a>
            </li>
            <li>
                <a href="#about">Bio</a>
            </li>
            {% endcomment %}
            <li>
                <a href="{{site.url}}/Barzin_Moridian_Curriculum_Vitae.pdf">CV</a>
            </li>
            <li>
                <a href="{{site.url}}#contact">Contact</a>
            </li>
        </div>
    </ul>
</div>