<section id="posts">
    <div class="container">
        <h2 class="section-heading" style="color:white">LATEST POSTS</h2>
        <p class="section-subheading text-muted" style="color:#AAA">These are my posts or small projects. Most of them are about topics that I've found interesting and tried to discover more!</p>
        <div class="entry-content">
            <div class="row">
                <ul class="post-list">
                    {% for post in site.posts limit:10 %}
                    <li><a href="{{ site.url }}{{ post.url }}"><div class="col-sm-9">{{ post.title }}</div> <div class="col-sm-3 entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></div><div class="clearfix"></div></a></li>
                    {% endfor %}
                    <li><a href="{{site.url}}/posts/index.html"><div class="col-sm-12" style="text-align:center">See All Posts ...</div></a></li>
                </ul>
            </div>
        </div><!-- /.entry-content -->
    </div>
</section>