<!-- Services Section -->
    <section id="Interests">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Interests</h2>
                    <h3 class="section-subheading text-muted">Here is a short list of my interests</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6" style="min-height:350px">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mechatronics/Robotics</h4>
                    <p style="padding-right:50px;padding-left:50px", class="text-muted">One of the exciting parts of my profession is to work with mechatronics systems. This can extend from machining support structures, design and manufacturing of moving mechanisms to developing drives for sensors, programming controllers, micro-controllers, and FPGAs.</p>
                </div>
                <div class="col-md-6" style="min-height:350px">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Dynamic Modeling and Control System Design</h4>
                    <p style="padding-right:50px;padding-left:50px", class="text-muted">Without knowing this field I cannot make sure that the robotics systems that I work on, specially the ones that have moving parts or electric power systems to behave the way I intend them to do. Using a mathematical model of a system, it is possible to predict its behavior for any given input to the system. As a result, knowing the desired behavior can lead to calculating required inputs, or in other words, control the system.</p>
                </div>
                <div class="col-md-6" style="min-height:350px">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Machine Learning</h4>
                    <p style="padding-right:50px;padding-left:50px", class="text-muted">Machine learning is not a new field, but has gained additional attention recently due to easier access to large databases in past few years. The simple math behind it and improvements in architecture of processing units (CPU, GPU, FPGA, ...) help making this field a considerable option for extracting information from large databases.</p>
                </div>
                <div class="col-md-6" style="min-height:350px">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Image Processing</h4>
                    <p style="padding-right:50px;padding-left:50px", class="text-muted">Many new real-time applications have been introduced to image processing because of improvements in processing capabilities during recent years. 3D scanning of objects and environments, localization and tracking of vision sensor, and virtual reality are just some of these applications upon which many startups have been founded. As a result, we can have more than two eyes now.</p>
                </div>
            </div>
        </div>
    </section>