html {
    /*overflow-y: overlay;*/
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}

body {
    background: #111D2E;
    padding-bottom: 2em;
    font-size:15px;
    font-family: 'Roboto Mono', monospace;
}

a, a:hover, a:active, a.active, a:visited {
    outline: 0;
    color: #ff7979;
}

h1 {
    font-size: 2.4em;
    font-weight: 200;
    font-family: "Montserrat", Arial, sans-serif;
    margin-bottom: 0px;
}
h2 {
    font-size: 2em;
    font-weight: 200;
    font-family: "Montserrat", Arial, sans-serif;
    margin-top:0px;
}

section.minimal {
    color: #d9e4ff;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .container{
        max-width: 500px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .container{
        max-width: 550px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .container{
        max-width: 600px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .container{
        max-width: 650px;
    }
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  outline:none;
}

summary:before {
  content: "[+]"; 
  font-weight: bold; 
  color: #ff7979;
}

details[open] summary:before {
  content: "[-]";
}

details p {
    font-size:.9em;
}

.details {
    font-size:.9em;
}
.details .row {
    padding-bottom:.8em;
}

.mute {
    opacity: .5;
}

.project_link {
    /*display:none;*/
    content: "show";
}

img {
    min-height:100px;
    width: auto;
    height: auto;
    border: 1px solid #d9e4ff;
    margin-bottom: 5px;
    display: block;
}