<!DOCTYPE html>
<html>

{% include head.html %}

<style type="text/css">
h2{
padding-bottom: .5em
}

hr{
	border: 1px solid ##d9e4ff;
	padding-bottom: 2em
}
</style>

<body>
	<section class="minimal">
		<div class="container" style="max-width: 958px;">
			<nav aria-label="breadcrumb" style="">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="{{ site.url }}">Home</a></li>
			    <li class="breadcrumb-item"><a href="{{ site.url }}/notes">Notes</a></li>
			    <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
			  </ol>
			</nav>

			{{ content }}

		</div>
	</section>
</body>
</html>