<!DOCTYPE html>
<html>

{% include head.html %}

<body>
	<section class="minimal">
		<div class="container" style="max-width: 958px;padding:2em 0 2em 0">
			<h2>Parsing Commandline Arguments in Bash</h2>
			<script src="https://gist.github.com/BarzinM/eb7e54a178cd3e81d1cdfb71c5524bef.js?file=argument_parsing.md"></script>
			<script src="https://gist.github.com/BarzinM/eb7e54a178cd3e81d1cdfb71c5524bef.js?file=arg_parsing_example.sh"></script>
			<hr style="border: 1px solid ##d9e4ff;">
		</div>
	</section>
</body>
</html>